body{
  padding: 40px;
}

.translator{
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 12px;
}

.trigger{
  background-color: black;
  color: white;
  padding: 20px 40px;
  outline: none;
  margin-right: 20px;
  border-radius: 6px;
  border: none;
}

.trigger:hover{
  background-color: #333;
  cursor: pointer;
}

.trigger:active{
  background-color: #666;
}

.reset{
  background-color: transparent;
  color: crimson;
  padding: 19px 40px;
  outline: none;
  border-radius: 6px;
  font-weight: bold;
  border: 1px solid crimson;
}

.reset:hover{
   background-color: crimson;
   color: white;
}

.translator p{
  font-size: 1.2rem;
  font-weight:600;
  line-height: 150%;
  margin-bottom: 20px;
}